.aboutSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.headshotWrapper {
  border-radius: 50%;
  margin-right: 10px;
}



.bioContainer {
  display: flex;
  align-items: flex-start;
}

.aboutHeader {
  margin: 0 0 10px;
}